<nav class="navbar navbar-dark">
  <a class="navbar-brand" href="#">Logo</a>

  <div class="navbar-nav ml-auto">
    <div *ngIf="cartItems.length === 0" class="alert position-relative">
      <span class="px-3">Cart</span>
      <span class="dot">
        {{ cartLength }}
      </span>
    </div>
    <a
      *ngIf="cartItems.length > 0"
      class="nav-item nav-link active pe-none"
      href="#"
    >
      <div class="position-relative">
        <span class="px-3">Cart</span>
        <span class="dot">
          {{ cartLength }}
        </span>
        <div class="cart-box">
          <div>
            <ul class="mb-3" *ngIf="cartItems.length > 0">
              <li
                class="d-flex justify-content-between"
                *ngFor="let items of cartItems"
              >
                <span class="font-size">{{ items.productName }}</span>
                <span>${{ items.price }}</span>
              </li>
              <li class="border-bottom border-light"></li>
            </ul>
            <ul>
              <li class="d-flex justify-content-between">
                <span>Total</span><span>${{ cartTotal }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </a>
  </div>
</nav>
